/** general styles */
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
h1,h1,h3,h4,h5,h6{
    font-family: "Source Sans 3", sans-serif;
    margin: 0px;
}
ul{
    list-style: none;
    font-family: "Roboto", sans-serif;
}
a,span{
    display: inline-block;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
li{
    font-family: "Roboto", sans-serif;
}
img{
    max-width: 100%;
}
.container{
    width: 85%;
    margin-inline: auto;
    background-color: #FFFFFF;
}
html{
    scroll-behavior: smooth;
}
/** fokir header */
.header{
    height:100vh;
    background-image: url("../images/hero\ img.jpg");
    background-position:center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.header::before{
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
}
.navbar{
    text-align: center;
    width: 100%;
    padding-inline: 10%;
    padding-top: 5px;
    margin-inline: auto;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
     z-index: 99;
    background: rgba(0, 0, 0, 0.9);
}
.logo > a {
    color: #ff305b;
    font-size: 24px;
    font-weight: 800;
    padding: 18px 0;
}
.nav-list{
    display: flex;
    gap: 20px;

}
.nav-list li a{
    font-size: 16px;
    font-weight: 300;
    text-transform:capitalize;
}
.nav-list li a:hover{
   color: #ff305b;
   transition: 500ms; 
}

#home{
   color: #ff305b;
   font-weight: 300;
   text-transform:capitalize; 
}
.home-page-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.home-page-text h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #fff;
}

.home-page-text h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #ff305b;
    text-transform: uppercase;
}

.home-page-text h4 {
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    text-transform: capitalize;
}
/** i about  */
.i-hello {
  padding: 80px 0;
  width: 100%;
}

.i-hello .container {
  display: flex;
  align-items: center;     
  gap: 20px;              
}

.i-hello-img {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
}
.about-img {
  position: relative;
  top: 15px;     
  left: 30px;
  border-radius: 8px;
  overflow: hidden; 
  display: inline-block;
}
.img-border {
  width: 380px;
  height: 450px;
  border: 8px solid #555555;
  position: relative;
  border-radius: 8px;
}
.about-img img {
  display: block;
  border-radius: 8px;
  width: 100%;
  height: auto;
}
.about-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius: 8px;
}

.about-img .icons a {
  color: #fff;
  font-size: 18px;
  margin: 0 10px;

  
}

.about-img .icons a:hover {
  color: #ff305b;

  
}

.about-img:hover .overlay {
  opacity: 1;
}
.profile-desc {
  flex: 1;
}

.profile-desc h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

.profile-desc h2 span {
  color: #e63946; 
  font-weight: bold;
  text-transform: uppercase;
}

.profile-desc p {
  font-size: 15px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
  text-transform:capitalize;
}

.profile-about ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.profile-about ul li {
  width: 50%; 
  margin-bottom: 10px;
  font-size: 16px;
  color: #555555;
}

.profile-about ul li span {
  font-weight: bold;
  color: #333333;
  margin-right: 5px;
  font-size: 16px;
}
.profile-about ul li a{
    color: #333;
}
.download-btns {
  margin-top: 25px;
}

.download-btns .btn {
  display: inline-block;
  padding: 13px 30px;
  margin-right: 10px;
  background: #ff305b;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  transition: 0.3s;
}
.download-btns .btn:hover {
  background: #f81f03;
}

.download-btns .btn-alt {
  background: #ff305b;
}

.download-btns .btn-alt:hover {
  background: #f81f03;
}
/** Our services  */
.our-services {
    background-color: #F1F1F1;
    height: 500px;
    display: flow-root;
}
.our-services .container{
    background-color: #F1F1F1;
    text-align: center;
}
.os-headline{
    position: relative;
}
.os-headline h2{
    font-size: 40px;
    color: #333333;
    margin-top: 70px;
}
.os-headline h2::before{
    content: "";
    width: 8%;
    height: 20px;
    border-block:1px solid red ;
    position: absolute;
    bottom: -28px;
    left:46%
}
.os-headline h2::after{
    content: "";
    width: 15%;
    height: 1px;
    background-color: red;
    position: absolute;
    bottom: -18px;
    left:42.5%
}
.os-cards{
    display: flex;
    margin-top: 80px;
    gap: 1px;
}
.os-cards .card h3{
    font-size: 24px;
    color: #333333;
    font-weight: 600;
    transition: none;
}
.os-cards .card p{
    font-size: 16px;
    color: #555555;
    transition: none;
}
.card{
    width: 25%;
    transition: all 0.4s ease;
    height: 240px;
    padding-top: 20px;
    border-radius: 8px;
}
.os-cards .card i{
    color: #ff305b;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    transition: transform 0.4s ease;
}
.os-cards .card:hover{
    background-color: #fff;
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
/** Our portfolio */
.our-portfolio {
    display: flow-root;
}
.our-portfolio .container{
    text-align: center;
}
.our-portfolio-heading{
    position: relative;
}
.our-portfolio-heading h2{
    font-size: 40px;
    color: #333333;
    margin-top: 70px;
}
.our-portfolio-heading h2::before{
    content: "";
    width: 8%;
    height: 20px;
    border-block:1px solid red ;
    position: absolute;
    bottom: -28px;
    left:46%
}
.our-portfolio-heading h2::after{
    content: "";
    width: 15%;
    height: 1px;
    background-color: red;
    position: absolute;
    bottom: -18px;
    left:42.5%
}
.op-btns {
    margin-top: 60px;              
    display: flex;                
    justify-content: center;       
    gap: 30px;                    
}
.op-btn {
    background: none;             
    border: none;                  
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.op-btn:hover {
    color: #ff305b;
}
.op-btn.one {
    color: #ff305b;
}
.our-portfolio-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    margin-bottom: 80px;
}
.op-card {
    position: relative;      
    width: 30%;
    overflow: hidden;        
}
.op-card img {
    width: 100%;
    display: block;
}
.op-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.61); 
    opacity: 0;                          
    transition: opacity 0.5s ease;       
}
.op-card:hover::after {
    opacity: 1;
}
/** counter section */
.counter{
    background-color: #F1F1F1;
    height: 250px;
    display: flex;
}
.counter .container{
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.counters{
    width: 25%;
    text-align: center;
}
.counters i{
   color: #ff305b;
   font-size: 18px;
   margin-bottom: 10px; 
}
.counters h3{
    font-size: 26px;
    color: #333333;
}
.counters h5{
    font-size: 16px;
    color: #555555;
    font-weight: 500;
}
/** feedback section */
.feedback {
    display: flow-root;
}
.feedback .container{
    text-align: center;
}
.fb-heading{
    position: relative;
}
.fb-heading h2{
    font-size: 40px;
    color: #333333;
    margin-top: 90px;
}
.fb-heading h2::before{
    content: "";
    width: 8%;
    height: 20px;
    border-block:1px solid red ;
    position: absolute;
    bottom: -28px;
    left:46%
}
.fb-heading h2::after{
    content: "";
    width: 15%;
    height: 1px;
    background-color: red;
    position: absolute;
    bottom: -18px;
    left:42.5%
}
.fb-card { 
  position: relative; 
  background: #f1f1f1; 
  padding: 50px;
  border-radius: 8px;
  text-align: left;
  width: 800px;
  margin-inline: auto;
  display: flex;
  margin-top: 70px;
  overflow: hidden;
}
.fb-card h3{
  font-size: 26px;
  font-weight: 600;
  color: #333333;
}
.fb-card h4 {
  color: #777777;
  font-size: 15px;
}
.fb-card p{
    color: #555555;
    font-size: 16px;
    font-style: italic;
    line-height: 1.6;
    text-align: justify;
    word-spacing: -2px; 
}
.fb-card h4 i{
  color: #777777;
}
.fb-card i{
    color: #ffe607;
}
.fb-card-img {
  width: 120px;
  margin-right: 20px;
  z-index:3;
}

.fb-card-img img {
  border-radius: 50%; 
}
.fb-card-info{
    width: 70%;
}
.tri{
  position:absolute;
  left:-150px;
  top:-150px;
  background-color:#ff305b;
  width:300px;
  height:300px;
  transform: rotate(45deg);
}
.dots{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 10px;
}
.dot-1{ 
  background: #ff305b none repeat scroll 0 0;
  border-radius: 10px;
  padding: 4px 13px;
}
.dot-2{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ff305b;
    border-radius: 50%;
    height: 10px;
    margin: 0 6px;
    width: 10px;
}
/** ourblog section */
.our-blog {
    display: flow-root;
    background-color: #f1f1f1;
}
.our-blog .container{
    text-align: center;
    background-color: #f1f1f1;
}
.our-blog-head{
    position: relative;
}
.our-blog-head h2{
    font-size: 40px;
    color: #333333;
    margin-top: 70px;
}
.our-blog-head h2::before{
    content: "";
    width: 8%;
    height: 20px;
    border-block:1px solid red ;
    position: absolute;
    bottom: -28px;
    left:46%
}
.our-blog-head h2::after{
    content: "";
    width: 15%;
    height: 1px;
    background-color: red;
    position: absolute;
    bottom: -18px;
    left:42.5%
}
.our-blog-cards{
    display: flex;
    text-align: left;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 90px;
}
.our-blog-cards .card-info{
    width: 32%;
    background-color: #FFFFFF;
}
.card-info .card-vid {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.card-info .card-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.our-blog-cards .card-info-text{
    padding: 17px;
}
.our-blog-cards .card-info-text p{
    color: #555555;
    line-height: 1.6;
}
.our-blog-cards .card-info-text h3{
    color: #333333;
    text-transform: capitalize;
    font-size:x-large;
    font-weight: 600;
}
.our-blog-cards .card-info-text a{
    color: #333333;
    transition: color 0.3s ease;
}
.our-blog-cards .card-info-text a:hover{
    color: #ff305b;
}
/** contact section */
.contact {
    display: flow-root;
}
.contact .container{
    text-align: center;
}
.contact-heading{
    position: relative;
}
.contact-heading h2{
    font-size: 40px;
    color: #333333;
    margin-top: 70px;
}
.contact-heading h2::before{
    content: "";
    width: 8%;
    height: 20px;
    border-block:1px solid red ;
    position: absolute;
    bottom: -28px;
    left:46%
}
.contact-heading h2::after{
    content: "";
    width: 15%;
    height: 1px;
    background-color: red;
    position: absolute;
    bottom: -18px;
    left:42.5%
}
.contact .container .contact-info-container{
    width: 70%;
    margin-inline: auto;
    margin-top: 70px;
}  
.contact-form .row{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;  
}

.contact-form .row input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 380px;
}
.contact-form .row .subject input{
    width: 803px;
}
.contact-form .row .text-area textarea {
    width: 803px;    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize:both; 
    font-family: inherit;
    overflow: auto; 
}
.contact-form .row .sub-btn input[type="submit"] {
    background-color: #ff305b; 
    color: #fff;
    padding: 12px ;
    width: 150px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase; 
}

.contact-form .row .sub-btn input[type="submit"]:hover {
    background-color: #f81f03; 
}
.contact-form .row input,
.contact-form .row textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.contact-form .row input:focus,
.contact-form .row textarea:focus {
  border-color: #ff305b;
  outline: none;
  box-shadow: 0 0 3px rgba(255, 48, 91, 0.5);
}
.contact-form .row .error {
  display: none;
  color: red;
  font-size: 13px;
  margin-top: 5px;
  text-align: left;
}
.contact-form .row input:invalid:not(:focus):not(:placeholder-shown) + .error,
.contact-form .row textarea:invalid:not(:focus):not(:placeholder-shown) + .error {
  display: block;
}
/** foot section*/
.foot{
    background-color: #333333;
    height: 150px;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
}
.foot .foot-icons a{
    padding:0 7px;
    font-size: 14px;  
    transition: transform 0.3s ease, color 0.3s ease;
}
.foot .foot-icons a:hover{
    color: #ff305b;
    transform: scale(1.2);
}
.foot .foot-text{
    color: #FFFFFF;
    font-size: 15px;
}
.foot .foot-text a{
    color: #ff305b;
    
}
.foot .foot-text a:hover{
    text-decoration: underline;    
}